
.main2 {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 5%
}

.imgProducto {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 400px;
    padding: 1%;
}

.imgProducto img {
    width: 100%;
}

.descripcion {
    grid-row: 1/2;
    grid-column: 2/-1;
    padding: 20px;
}

.precio {
    grid-row: 2/3;
    grid-column: 2/-1;

}

.btn1 {
    display: flex;
    grid-row: 3/4;
    grid-column: 1/-1;
    justify-content: center;


}

.btn1 button {
    background: rgb(5, 108, 108);
    width: 15%;
    color: azure;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn1 button:hover {
    background: rgb(63, 215, 215);
}

.btn1 button:active {
    border: 3px solid;
    background: rgb(2, 35, 35);
    color: #fff;
}

.descripcion2 {
    grid-row: 4/-1;
    grid-column: 1/-1;
    
}


@media  screen and (max-width: 768px) {

    .imgProducto {
        display: flex;
        justify-content: center;
        grid-row: 1/2;
        grid-column: 1/-1;
    }

    .imgProducto img {
        width: 100%;
    }
    .descripcion {
        display: flex;
        justify-content: center;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .precio {
        display: flex;
        justify-content: center;
        grid-row: 2/3;
        grid-column: 2/-1;
    }

    .btn1 {
        grid-row: 3/4;
        grid-column: 1/-1;
    }

    .btn1 button {
        width: 50%;
    }

    .descripcion2 {
        grid-row: 4/-1;
        grid-column: 1/-1;
    }
}

@media  screen and (max-width: 468px) {

    .main2 {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    
    }

    .imgProducto {
        display: flex;
        justify-content: center;
        grid-row: 1/2;
        grid-column: 1/-1;
    }

    .imgProducto img {
        width: 90%;
    }

    .descripcion {
        display: flex;
        justify-content: center;
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    .precio {
        display: flex;
        justify-content: center;
        grid-row: 3/4;
        grid-column: 1/-1;
    }

    .btn1 {
        grid-row: 4/5;
        grid-column: 1/-1;
        flex-direction: column;
    }

    .btn1 button {
        width: 100%;
    }
    
    

    .descripcion2 {
        grid-row: 5/6;
        grid-column: 1/-1;
    }
}

